.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px; /* Ancho máximo del modal */
    height: 300px;
}




.closeButton{
    margin-left: 260px;
    background-color: rgba(0, 0, 0, 0.1); /* Fondo semitransparente */
    border: none;
    padding: 4px;
    border-radius: 50%; /* Forma circular */
    cursor: pointer;
    font-size: 18px;
    color: #333;
    transition: background-color 0.3s; /* Efecto de transición */
}
.closeButton:hover {
    background-color: rgba(0, 0, 0, 0.3); /* Cambio de color al pasar el mouse */
}



.divUsername{
    margin-top: 15px;
    margin-bottom: 20px;
}

.divPassword{
    margin-bottom: 5px;
    margin-left: 3px;
    
}



.loginButton{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
    
}

.loginButton:hover {
    background-color: #0056b3;
}

input{
    border:solid 2px #007bff;
    border-radius: 20px;
    padding: 5px;
}