.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 600px; /* Ancho máximo del modal */
    height: 600px;
}

.closeButton{
    margin-left: 260px;
    background-color: rgba(0, 0, 0, 0.1); /* Fondo semitransparente */
    border: none;
    padding: 4px;
    border-radius: 50%; /* Forma circular */
    cursor: pointer;
    font-size: 18px;
    color: #333;
    transition: background-color 0.3s; /* Efecto de transición */
}
.closeButton:hover {
    background-color: rgba(0, 0, 0, 0.3); /* Cambio de color al pasar el mouse */
}


.divName{
 
  margin-top: 5px;
  margin-bottom: 20px;
}
.divEmail{

margin-bottom: 5px;
margin-left: 1px;
}
.divDate{
    
    margin-bottom: 5px;
    margin-left: 1px;
    margin-top: 3px;
}
.divDni{
   
    margin-bottom: 5px;
    margin-left: 1px;
    margin-top: 10px;
}

.divUsernsame{
    
    margin-bottom: 5px;
    margin-left: 1px;
    margin-top: 10px;
}

.divPassword{
    
    margin-bottom: 5px;
    margin-top: 5px;
}

.input {
    margin-right: 2px; 
    width: 100%;
  }

.registerButton{
    
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 40px;
        
    }
    
    .registerButton:hover {
        background-color: #0056b3;
    }

    .errors{
        color:rgba(255, 0, 0, 0.603)
    }
