.container{
    border: solid 1px;
    border-radius: 15px;
    margin:10px;
    padding: 20px;
    max-width: 30%;
    height: auto;
    background-color:gainsboro;
}


.date{
    font-family: Arial, Helvetica, sans-serif;
}

span{
    margin-left: 20px;
    
}