@tailwind base;
@tailwind components;
@tailwind utilities;




@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes zoomIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.3s ease-out forwards;
  }
  .animate-zoomIn {
    animation: zoomIn 0.3s ease-out forwards;
  }
}